* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%
}
.instagram-phone img {
  height: 50rem
}

.instagram-continue {
  display: flex;
  align-items: center; /* Devido ao flex-direcion:column isto agora está na horizontal*/
  justify-content: space-around; /* Devido ao flex-direcion:column isto agora está na vertical*/
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 1rem;
  border: 1px solid lightgray;
}
.group:nth-child(1){
  min-height: 19tem;
}
.instagram-logo {
  height: 3rem;
}
.profile-photo {
  display: flex;;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
.profile-photo img {
  height: 6rem;
}

.instagram-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}